
body {
	font-family: helvetica, arial, geneva, sans-serif;
	font-size: 15pt;
	color: black;
	background:URL(http://www.wallchan.com/images/sandbox/1305844286-blue-bokeh-wallpaper.jpg);
	background-attachment:fixed;
}

a:visited,a:active,a:hover,a:link {
	color: black;
	text-decoration: none;
}

table,tr,td {
	font-family: helvetica, arial, geneva, sans-serif;
	font-size: 9pt;
	background:RGBA(255,255,255,0.25);
}

div.player-stats{
color:white;

}

img {
	border: none;
}

textarea {
	font-family: helvetica, arial, geneva, sans-serif;
	font-size: 9pt;
	color: black;
}